.header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #b4b0e6;
  padding: 0.5rem;
}

.drawer-icon {
  display: flex;
  margin-left: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .drawer-icon {
    display: block;
  }
}

.title {
  width: 100%;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  font-family: 'Luminari, fantasy';
  
}

.logo1{
  margin: auto;
}

.links:hover{
  background-color: #0bc8ee;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: medium;
}

.links{

  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
}
